<div class="navigation-header-wrapper">
    <ds-header
        id="navHeader"
        class="bmw-header"
        appName="{{ .Env.APP_NAME }}"
        brandLogos="Rolls-Royce"
        [navBarRef]="navBar"></ds-header>
</div>
<div class="navigation-sidebar-wrapper">
    <ds-navigation-bar #navBar activeItemId="home" [items]="navigationItems"></ds-navigation-bar>
</div>
<section class="skeleton-wrapper">
    <div class="skeleton-title">
        <h1>HI, YOU'RE READY TO START YOUR APP DEVELOPMENT!</h1>
        <span>Your UNITY.app is up and running. Now you can start generating business value.</span>
    </div>
    <div class="skeleton-content">
        <img src="./assets/images/Logo-unity.svg" alt="Unity logo" id="unity_logo" />
        <img src="./assets/images/unity-skeleton.svg" alt="Unity image content" id="unity_content_image" />
        <section class="skeleton-links">
            <a
                href="https://pages.atc-github.azure.cloud.bmw/UNITY/unity/app-dev-handbook/"
                target="_blank"
                rel="noopener">
                <div>
                    <button ds-button variant="outline">
                        <ds-icon icon="code" alt="UNITY Documentation" width="22" height="22"></ds-icon>
                    </button>
                    <div>
                        <p class="link-title">UNITY Documentation</p>
                        <p>Topics & how-to's</p>
                    </div>
                </div>
            </a>
            <a href="https://density.bmwgroup.net/v7/components" target="_blank" rel="noopener">
                <div>
                    <button ds-button variant="outline">
                        <ds-icon icon="lightbulb" alt="Density Design System" width="22" height="22"></ds-icon>
                    </button>
                    <div>
                        <p class="link-title">Density Design System components</p>
                        <p>Documentation & Guidelines</p>
                    </div>
                </div>
            </a>
        </section>
    </div>
</section>
<section class="skeleton-footer">
    <div class="powered-by">
        <p class="text-smallprint">Powered by</p>
        <img src="./assets/images/Logo-unity.svg" alt="unity logo" />
    </div>
</section>
