<ds-header
  id="navHeader"
  class="bmw-header"
  appName="{{ .Env.APP_NAME }}"
  brandLogos="Rolls-Royce"
  [environmentTag]="environmentTagConfig"
  [navBarRef]="navBar"></ds-header>
<div class="d-flex">
  <div class="navigation-bar__wrapper">
    <ds-navigation-bar #navBar activeItemId="home" [items]="navigationItems"> </ds-navigation-bar>
  </div>
  <div class="container-fluid">
    <section class="skeleton-wrapper">
      <div class="skeleton-title-wrapper">
        <h1 class="skeleton-title">HI, YOU'RE READY TO START YOUR APP DEVELOPMENT!</h1>
        <span>Your UNITY.app is up and running. Now you can start generating business value.</span>
      </div>
      <div class="skeleton-content-wrapper">
        <img src="./assets/images/Logo-unity.svg" alt="Unity logo" id="unity_logo" class="unity_logo" />
        <img
          src="./assets/images/unity-skeleton.svg"
          alt="Unity image content"
          id="unity_content_image"
          class="unity_content_image" />
        <section class="skeleton-links">
          <a
            href="https://pages.atc-github.azure.cloud.bmw/UNITY/unity/app-dev-handbook/"
            target="_blank"
            rel="noopener">
            <div class="button-wrapper">
              <button ds-button variant="outline" class="circle-button" icon="code" size="lg"></button>
              <div class="button-text-wrapper">
                <p class="link-title text-regular">UNITY AppDev Handbook</p>
                <p class="link-subtitle">Impl. Guideline & platform details</p>
              </div>
            </div>
          </a>
          <a href="https://density.bmwgroup.net/v7/components" target="_blank" rel="noopener">
            <div class="button-wrapper">
              <button
                ds-button
                variant="outline"
                class="circle-button"
                icon="lightbulb"
                size="lg"></button>
              <div class="button-text-wrapper">
                <p class="link-title text-regular">Density Design System components</p>
                <p class="link-subtitle">Documentation & Guidelines</p>
              </div>
            </div>
          </a>
          <a href="https://unity.bmwgroup.net/demo" target="_blank" rel="noopener">
            <div class="button-wrapper">
              <button
                ds-button
                variant="outline"
                class="circle-button"
                icon="terminal_window"
                size="lg"></button>
              <div class="button-text-wrapper">
                <p class="link-title text-regular">UNITY Demo App</p>
                <p class="link-subtitle">An example for exploration</p>
              </div>
            </div>
          </a>
        </section>
      </div>
    </section>
  </div>
</div>
<section class="skeleton-footer-wrapper">
  <div class="powered-by">
    <p class="text-smallprint">Powered by</p>
    <img class="footer-image" src="./assets/images/Logo-unity.svg" alt="unity logo" />
  </div>
</section>
