a {
    text-decoration: none;
}

.bmw-header {
    width: 100%;
  }
  .navigation-sidebar-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    height: calc(100vh - var(--ds-shape-size-y-header) - 1px);
    z-index: 11;
  }
  .navigation-header-wrapper {
    position: fixed;
    top: 0;
    z-index: 11;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--ds-color-surface-header);
    justify-content: space-between;
  }
  .smaller-divider{
    align-self: center;
    height: var(--ds-space-2x);
    width: 1px;
    color: var(--ds-color-surface-neutral-mild);
  }
  .skeleton-wrapper {
    display: flex;
    height: calc(100vh - var(--ds-shape-size-y-header) - 1px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .skeleton-title {
        position: absolute;
        top: var(--ds-space-9x);
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        margin-left: calc(var(--ds-shape-size-y-header) + var(--ds-space-10x));
        margin-top: var(--ds-space-7x);
        h1 {
            margin-bottom: var(--ds-space-1x);
        }
    }
    .skeleton-content {
        display: flex;
        flex-direction: column;
        margin: var(--ds-space-5x);
        align-items: center;
        #unity_logo {
            width: 30%;
            align-self: center;
            margin-bottom: var(--ds-space-7x);
        }
        #unity_content_image {
            width: 60%;
            margin-bottom: var(--ds-space-6x)
        }
        .skeleton-links {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: calc(var(--ds-space-8x) + var(--ds-space-15x));
            margin: var(--ds-space-10x);
            div {
                transition: var(--ds-motion-duration-quick) var(--ds-motion-timing-standard);
                display: flex;
                flex-direction: row;
                gap: var(--ds-space-2x);
                div {
                    flex-direction: column;
                    gap: 0;
                }
                button {
                    border-radius: 100%;
                    width: var(--ds-space-14x);
                    height: var(--ds-space-14x);
                    color: var(--ds-color-surface-neutral-strong);
                    background-color: var(--ds-color-surface-base);
                }
                p.link-title {
                    color: var(--ds-color-typography-action)
                }
                p {
                    color: var(--ds-color-typography-neutral);
                    font-size: var(--ds-typography-size-03);
                    line-height: var(--ds-typography-size-05);
                }
            }
            div:hover {
                transition: var(--ds-motion-duration-standard) var(--ds-motion-timing-standard);
                cursor: pointer;
                p.link-title {
                    color: var(--ds-color-surface-action-strong-hover);
                }
                button {
                    color: var(--ds-color-surface-neutral-strong);
                    background-color: var(--ds-color-surface-base);
                    border-color: var(--ds-color-border-button-outline);
                }
            }
        }
    }
  }
  .skeleton-footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    max-height: var(--ds-space-8x);
    display: flex;
    justify-content: flex-end;
    background-color: var(--ds-color-surface-neutral);
    filter: var(--ds-elevation-base);
    .powered-by {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: var(--ds-space-2x) var(--ds-space-7x);
        img {
            height: var(--ds-space-5x);
            margin: var(--ds-space-1x);
        }
        p {
            color: var(--ds-color-typography-neutral);
        }
    }
}
@media only screen and (min-width: 1980px) {
    .skeleton-title {
        align-self: auto !important;
        margin-left: var(--ds-space-5x) !important;
    }
}
